@model IEnumerable<MVCMovies.Models.Movy>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Genre: @Html.DropDownList("movieGenre", "All")
        Title: @Html.TextBox("SearchString")
        <input type ="submit" value="Filter"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    

    
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
    


    
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
    


    
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Title)
            </td>

            <td>
                @Html.DisplayFor(m => item.ReleaseDate)
            </td>

            <td>
                @Html.DisplayFor(m => item.Genre)
            </td>

            <td>
                @Html.DisplayFor(m => item.Price)
            </td>

            <td>
                @Html.ActionLink("Edit record", "Edit", new { id = item.Id })
                @Html.ActionLink("Details of Record", "Details", new { id = item.Id })
                @Html.ActionLink("Delete Record", "Delete", new { id = item.Id })
            
            </td>
        </tr>
    }


</table>

